<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Modifier une voie</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<!-- Cette page permet d'afficher un formulaire afin de renter un nouveau spot en base de données -->

	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6 spacer">
				<div class="card">
					<div class="card-header">Modifier une voie</div>
					<div class="card-body">
						<form th:action="@{/spot/{spotId}/secteur/{secteurId}/saveEditVoie/{voieId}(spotId=${spotId}, secteurId=${secteurId}, voieId=${voieId})}" method="post">

							<div class="form-group">
								<label class="control-label">Nom de la voie :</label> <input
									class="form-control" type="text" name="nomVoie" required="required" th:value="${voie.nomVoie}">
									<span class = "red" th:errors="${voie.nomVoie}"></span>
							</div>

							<div class="form-group">
								<label class="control-label">Cotation :</label> <input
									class="form-control" type="text" name="cotation" required="required" th:value="${voie.cotation}">
									<span class = "red" th:errors="${voie.cotation}"></span>
							</div>

							<div class="form-group">
								<label class="control-label">Longueur de la voie:</label> <input class="form-control" type="number" min="1" max="999" name="longueurVoie" required="required" th:value="${voie.longueurVoie}">
									<span class = "red" th:errors="${voie.longueurVoie}"></span>
							</div>
							<div class="form-group">
								<label class="control-label">Equipée :</label> 
								<select name="equipee" class="form-control" th:value="${voie.equipee}">
								<option value="oui">Oui</option>
								<option value="non">Non</option>
								</select>
								<span class = "red" th:errors="${voie.equipee}"></span>
						</div>
							<div>
								<button type="submit" class="btn btn-primary">Sauvegarder</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</body>
</html>