<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Ajouter un nouveau spot</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<!-- Cette page permet d'afficher un formulaire afin de renter un nouveau spot en base de données -->

	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6 spacer">
				<div class="card">
					<div class="card-header">Ajouter une voie</div>
					<div class="card-body">
						<form th:action="@{/spot/{spotId}/secteur/{secteurId}/ajouterVoie/save(spotId=${spotId}, secteurId=${secteurId})}" method="post">

							<div class="form-group">
								<label class="control-label">Nom de la voie :</label> <input
									class="form-control" type="text" name="nomVoie">
							</div>

							<div class="form-group">
								<label class="control-label">Cotation :</label> <input
									class="form-control" type="text" name="cotation">
							</div>

							<div class="form-group">
								<label class="control-label">Nombre de points :</label> <input
									class="form-control" type="text" name="nombrePointVoie">
							</div>
							<div class="form-group">
								<label class="control-label">Longueur minimum :</label> <input
									class="form-control" type="text" name="longueurMin">
							</div>
							<div class="form-group">
								<label class="control-label">Longueur maximum :</label> <input
									class="form-control" type="text" name="longueurMax">
							</div>
							<div class="form-group">
								<label class="control-label">Equipée :</label> 
								<select name="equipee" class="form-control">
								<option value="">Merci de choisir</option>
								<option value="oui">Oui</option>
								<option value="non">Non</option>
								</select>
						</div>
							<div>
								<button type="submit" class="btn btn-primary">Sauvegarder</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</body>
</html>