<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Inscription</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
	<div class="row">
	<div class="col-lg-3"></div>
	
	<div class="col-lg-6 spacer">
		<div class="card spacer">
			<div class="card-header">Inscription</div>
			<div class="card-body">
				<form th:action="@{/confInscription}" method="post">

					<div class="form-group">
						<label class="control-label">Pseudo :</label> <input
							class="form-control" type="text" name="pseudo" required="required" th:value="${utilisateur.pseudo}">
							<span class="red" th:errors="${utilisateur.pseudo}"></span>
					</div>

					<div class="form-group">
						<label class="control-label">Mot de passe :</label> <input
							class="form-control" type="password" name="motDePass" required="required" th:value="${utilisateur.motDePass}">
							<span class="red" th:errors="${utilisateur.motDePass}"></span>
					</div>

					<div class="form-group">
						<label class="control-label">email :</label> <input
							class="form-control" type="email" name="email" required="required"  th:value="${utilisateur.email}">
							<span class="red" th:errors="${utilisateur.email}"></span>
					</div>

					<div>
						<button type="submit" class="btn btn-primary">Inscription</button>
					</div>
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				</form>
				<p class="text-center spacer">Vous possédez déjà un compte ? <a th:href="@{/connexionUtilisateur}">Connexion</a></p>
			</div>
		</div></div>
		<div class="col-lg-3"></div></div>
	</div>
</body>
</html>