<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Ajouter un nouveau secteur</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<!-- Cette page permet d'afficher un formulaire afin de renter un nouveau secteur en base de données -->

	<div layout:fragment="content">
	<div class="row">
	<div class="col-lg-3"></div>
		<div class="col-lg-6 spacer">
			<div class="card">
				<div class="card-header">Ajouter un secteur</div>
				<div class="card-body">
					<form th:action="@{/spot/{spotId}/ajouterSecteur/save(spotId=${spotId})}" method="post">

						<div class="form-group">
							<label class="control-label">Nom du secteur:</label> <input
								class="form-control" type="text" name="nomSecteur" required="required" th:value="${secteur.nomSecteur}">
								<span class="red" th:errors="${secteur.nomSecteur}"></span>
						</div>

						<div class="form-group">
							<label class="control-label">Accès :</label> <input
								class="form-control" type="text" name="acces" required="required" th:value="${secteur.acces}">
								<span class="red" th:errors="${secteur.acces}"></span>
						</div>

						<div class="form-group">
							<label class="control-label">Type de roche :</label> <input
								class="form-control" type="text" name="typeRoche" required="required" th:value="${secteur.typeRoche}">
								<span class="red" th:errors="${secteur.typeRoche}"></span>
						</div>

						<div class="form-group">
							<label class="control-label">Localisation:</label> <input
								class="form-control" type="text" name="localisation" required="required" th:value="${secteur.localisation}">
								<span class="red" th:errors="${secteur.localisation}"></span>
						</div>

						<div class="form-group">
							<label class="control-label">Nombre de voies :</label> <input class="form-control" type="number" min="1" max="999" name="nombreVoies" required="required" th:value="${secteur.nombreVoies}"/>
								<span class="red" th:errors="${secteur.nombreVoies}"></span>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Sauvegarder</button>
						</div>
					</form>
				</div>
			</div>
		</div>
			<div class="col-lg-3"></div></div>
	</div>
</body>
</html>