<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Accueil</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}">


</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-9">
					<div class="card">
						<div class="card-header">Les actus</div>
						<div class="card-body">aaaaaa aaaaa aaaaaa</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="card">
						<div class="card-header">Le mot du président</div>
						<div class="card-body">Quam ob rem circumspecta cautela
							observatum est deinceps et cum edita montium petere coeperint
							grassatores, loci iniquitati milites cedunt. ubi autem in
							planitie potuerint reperiri, quod contingit adsidue, nec
							exsertare lacertos nec crispare permissi tela, quae vehunt bina
							vel terna, pecudum ritu inertium trucidantur. Constituendi autem
							sunt qui sint in amicitia fines et quasi termini diligendi. De
							quibus tres video sententias ferri, quarum nullam probo, unam, ut
							eodem modo erga amicum adfecti simus, quo erga nosmet ipsos,
							alteram, ut nostra in amicos benevolentia illorum erga nos
							benevolentiae pariter aequaliterque respondeat, tertiam, ut,
							quanti quisque se ipse facit, tanti fiat ab amicis. Quis enim aut
							eum diligat quem metuat, aut eum a quo se metui putet? Coluntur
							tamen simulatione dumtaxat ad tempus. Quod si forte, ut fit
							plerumque, ceciderunt, tum intellegitur quam fuerint inopes
							amicorum. Quod Tarquinium dixisse ferunt, tum exsulantem se
							intellexisse quos fidos amicos habuisset, quos infidos, cum iam
							neutris gratiam referre posset.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>