<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Liste des spots</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-header">Informations générale sur le Spot</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><label>Nom:</label><label
									th:text="${spotInfo.nom}"></label></li>
								<li class="list-group-item"><label>Localité: </label><label
									th:text="${spotInfo.localite}"></label></li>
								<li class="list-group-item"><label>Cotation
										minimum: </label><label th:text="${spotInfo.cotationMin}"></label></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card spacer">
						<div class="card-header">Informations Secteurs</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><label>Nom du secteur:</label><label
									th:text="${spotInfo.nom}"></label></li>
								<li class="list-group-item"><label>Accès: </label><label
									th:text="${spotInfo.localite}"></label></li>
								<li class="list-group-item"><label>Type de roche: </label><label
									th:text="${spotInfo.cotationMin}"></label></li>
								<li class="list-group-item"><label>localisation : </label><label
									th:text="${spotInfo.cotationMin}"></label></li>
								<li class="list-group-item"><label>Nombre de voie:
								</label><label th:text="${spotInfo.cotationMin}"></label></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>