<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Liste des spots</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content">
	<div class="container-fluid">
		<h3>Liste des spots</h3>
		<div class="col-lg-6">
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Commune</th>
					<th>Région</th>
					<th>Département</th>

				</tr>
			</thead>
			<!-- 				<tbody>
					<tr th:each="p:${listProduits}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.designation}"></td>
						<td th:text="${p.prix}"></td>
						<td th:text="${p.quantite}"></td>
					</tr>
				</tbody> -->
		</table>
	</div>
	</div>
	</div>
</body>
</html>