<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Mes topos</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					
					<div class="card">
						<div class="card-header">Liste de mes Topos</div>
						<div class="card-body"></div>
					</div>
					
					<div class="card spacer">
						<div class="card-header">Demande de résérvation</div>
						<div class="card-body"></div>
					</div>
					
				</div>
				
				<div class="col-lg-6">
					
					<div class="card">
						<div class="card-header">Ajouter un Topo</div>
						<div class="card-body">
						<form th:action="@{saveTopo}" method="post">

							<div class="form-group">
								<label class="control-label">Nom :</label> <input
									class="form-control" type="text" name="nom" required="required">
							</div>

							<div class="form-group">
								<label class="control-label">Date de parution :</label> <input
									class="form-control" type="date" name="dateParution" required="required">
							</div>

							<div class="form-group">
								<label class="control-label">Description :</label> <input
									class="form-control" type="text" name="description" required="required">
							</div>
							
							<div class="form-group">
								<label class="control-label">Lieu :</label> <input
									class="form-control" type="text" name="lieu" required="required">
							</div>
							<div>
								<button type="submit" class="btn btn-primary">Sauvegarder</button>
							</div>
						</form>
						</div>
					</div>
					
					<div class="card spacer">
						<div class="card-header">Mes Topos réservés</div>
						<div class="card-body"></div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>