<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Liste des spots</title>

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">

				<!-- Carte pour le display des informations générales sur le spot -->

				<div class="col-lg-6">
					<div class="card">
						<div class="card-header"><h3 class="card-title">Informations générale sur le Spot</h3></div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><label>Nom:</label><label
									th:text="${spotInfo.nom}"></label></li>
								<li class="list-group-item"><label>Localité: </label><label
									th:text="${spotInfo.localite}"></label></li>
								<li class="list-group-item"><label>Cotation
										minimum: </label><label th:text="${spotInfo.cotationMin}"></label></li>
							</ul>
						</div>
					</div>

					<!-- Carte pour le display des informations sur le secteur sélectionné -->

					<div class="card spacer">
						<div class="card-header"><h3 class="card-title">Informations Secteurs <a class="btn btn-primary float-right"
								th:href="@{/spot/{spotId}/ajouterSecteur(spotId=${spotInfo.idSiteEscalade})}">Ajouter
								un Secteur</a></h3></div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><label>Nom du secteur:</label><label
									th:text="${secteurInfo.nomSecteur}"></label></li>
								<li class="list-group-item"><label>Accès: </label><label
									th:text="${secteurInfo.acces}"></label></li>
								<li class="list-group-item"><label>Type de roche: </label><label
									th:text="${secteurInfo.typeRoche}"></label></li>
								<li class="list-group-item"><label>Localisation: </label><label
									th:text="${secteurInfo.localisation}"></label></li>
								<li class="list-group-item"><label>Nombre de voie:
								</label><label th:text="${secteurInfo.nombreVoies}"></label></li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-lg-6">

					<div class="card">
						<div class="card-header"><h3 class="card-title">Liste des voies<a class="btn btn-primary float-right"
								th:href="@{/spot/{spotId}/secteur/{secteurId}/ajouterVoie(spotId=${spotInfo.idSiteEscalade}, secteurId=${secteurInfo.idSecteur})}">Ajouter
								une voie</a></h3></div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><label>Nom de la voie:</label><label
									th:text="${voieInfo.nomVoie}"></label></li>
								<li class="list-group-item"><label>Cotation de la
										voie: </label><label th:text="${voieInfo.cotation}"></label></li>
								<li class="list-group-item"><label>Nombre de
										points: </label><label th:text="${voieInfo.nombrePointVoie}"></label></li>
								<li class="list-group-item"><label>Longueur
										minimum: </label><label th:text="${voieInfo.longeurMin}"></label></li>
								<li class="list-group-item"><label>Longueur
										maximum: </label><label th:text="${voieInfo.longueurMax}"></label></li>
								<li class="list-group-item"><label>Equipée: </label><label
									th:text="${voieInfo.equipee}"></label></li>
							</ul>
						</div>
					</div>
					
					<div class="card spacer">
						<div class="card-header"><h3 class ="card-title">Liste des longueurs
						<a class="btn btn-primary float-right"
								th:href="@{/spot/{spotId}/secteur/{secteurId}/voie/{voieId}/ajouterLongueur(spotId=${spotInfo.idSiteEscalade}, secteurId=${secteurInfo.idSecteur}, voieId=${voieInfo.idVoie})}">Ajouter
								une longueur</a>
								</h3>
						</div>
						<div class="card-body">
						
							<table class="table spacer">
								<thead>
									<tr>
										<th>Cotation de la longueur</th>
										<th>Nombre de points</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="longueur:${listeLongueur}">
										<td th:text="${longueur.cotation}"></td>
										<td th:text="${longueur.nombrePoints}"></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>